body {margin: 0;
}

.empas{     font-size: 20px;
    background-color: #ad92dd;
    color: black;
    border-radius: 8px;

}


/*footer*/



.foot{ 
    background-color: black; 
    color: beige; 
    width: 100%;
    height: 150px;
    padding: 1%;

}

.list01{
    list-style-type: none;
}

/*link color */
a:visited{color:rgb(217, 163, 248)}

a:hover {
    color: rgb(63, 14, 109);
}