@mixin backdrop {
    background-color: rgba(0,0,0,.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;

}

@mixin media900{
    @media (max-width: 900px) {
        @content
    }

}