
.probord{
    border: 2px solid #cbc1d6;
    padding: 3rem;

}

.prodbuy{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;    
    background-color: black;
    color: white;
    border-radius: 1rem;
    border:5px solid #cbc1d6;
    width: 100%;
    height: 200px;
    margin-top: 2rem;
    box-shadow: 0px 5px 5px #cbc1d6;
}

.prodbuy:hover{
    box-shadow: 0px 7px 7px #61497e ;
}

.imgdiv {
     width: 20rem;
     border-radius:1rem;
     border: 2px solid #cbc1d6;
     
}

.buyimg{
    width: 100%;
    height: 190px;
    object-fit: cover;
    padding: 1rem;
    
}

.btgr2 {
    margin-left: 10rem !important;
}
.pribtn{
margin-right: 1rem !important;}

.spanm {
    margin-right: 1rem;
    border: 1px solid seashell;
    padding: 3px;
}

.btnbuy{
    display: flex;
    justify-content: end;
    margin-right: 3rem;
}

.buybtn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 5rem;
}