@import "../components/animation.scss";
@import "../mixins/mixins.scss";


.productlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .6rem;
    padding: 1rem;
    margin-left: 30px;
}

.bcol{
    background-color: black !important;
}


.sidebar{
    width: 300px;
    height: 100vh;
    padding: 2rem;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    background-color: rgb(212, 188, 203);
    animation: left-to-right .7s linear  both;
}

.form{
    width: 6rem;
    border-radius: .5rem;
}
.btnfilter{
    margin-left: 2rem;
    margin-top: 1rem;
}

.backdrop {
    @include backdrop;

}

