
@import "../components/animation.scss";
@import "../mixins/mixins.scss";

body{
    background-color: black;
}

.home{
    display: grid;
    grid-template-areas: "h h h" "c c c" "f f f";
}

#head{
    grid-area: h;
}
.content{
    grid-area: c;
}
#footer{
    grid-area: f;
}

.header{
    background-color:black;
    padding: 30px;
    border:5px solid #cbc1d6;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.logo {
    display: flex;
  align-items: center; 
}
#logopic{
    width: 7rem;
  margin-right: 20px; 
}

.search{background-color: transparent !important;
    color: white !important;

}




ul.center li:not(:last-child){margin-right: 16px;
}

/* link color*/
.pro:visited{ color: rgb(230, 220, 220);}

.pro:hover {color:#cbc1d6}


.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: #cbc1d6;
    
}
.nav{
    color: #cbc1d6;
    @include media900 {
        display: none !important;
    }
}
   
ul.navigation li{
    display:inline;
}

.auto {
    float: right;
    @include media900 {
        display: none !important;
    }
}

.aut-reg{color: rgb(187, 148, 148);
    background: #18171a;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
}

.aut-reg:hover {
    background-color: rgb(56, 51, 51);
}

.bur-label{
    width:3rem;
    height: 3rem;
    border: 3px solid #cbc1d6;
    border-radius: 6px;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;

     @include media900 { 
         display:flex;
        }
}


.menu-line{
     border-top: 3px solid #cbc1d6;
     width: 100%;
}

.heder-dropdown {
    width: 100%;
    height: 100%;
    background-color:transparent;
    border: 2px solid #cbc1d6;
    backdrop-filter: blur(5px);
    display: none;
    left:0;
    top:0;
    z-index: 111;
    transform: translateY(100%);
    }

.bur-checkbox{
    display: none;
}


.bur-checkbox:checked + div {
    display: flex;
    left:0;
    top:0;
    z-index: 111;
    transform: translateY(100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sp1 {
    color: #cbc1d6;
}



#slider{
    position: relative;
}

.sliderpoto {
    height: 50vh;
    overflow: hidden;
    border:3px solid black;
}

.sliderpotoimg{width: 100%;
    object-fit: none;
    height: 100%;}

.sliderpotoimg2{width: 100%;
    object-fit: cover;
    height: 100%;}

.us {
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 11px 20px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    border-radius: 42px;
}
/* button link*/
.butlink:visited{color:rgb(235, 157, 224) ;}
.butlink:hover{color:rgb(78, 15, 78)}



.suggestedProductsTitle {
    text-align: center; }

.productlist {

    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

.products {
    flex: 1;
    cursor: pointer;
    border: 1px solid violet;
    margin-right: 15px;
    box-shadow: 0px 5px 5px #cbc1d6;
    background-color: transparent !important;
    color: #cbc1d6;

    
}



.products:hover {
    box-shadow: 0px 7px 7px #61497e;
}

.products:last-child {
    margin-right: 0;
}
.proimg{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.desc{
    padding: 20px;
}
.proinput{
    outline: none;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid rgb(37, 35, 35);
    margin-right: 10px;
}
.proinput:focus{
    border: 1.5px solid rgb(150, 48, 48);
}
.probtn{
    color:black;
    background:#cbc1d6;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    transition: .5s;
}
.probtn:hover{
    background-color:  #61497e;
}

/*footer*/

.foot{ 
    background-color: black;
    color: beige;
    border: 5px solid #cbc1d6 ;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

 .auth-modal{
    background-color: #cbc1d6;
    padding: 2rem;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: zoomin .8s linear both;
}

.btn-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.backdrop{
    background-color: rgba(0,0,0,.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}
.list01{
    list-style-type: none;
}

/*link color */
a:visited{color:#cbc1d6}

a:hover {
    color: #3f0e6c;
}

