body{
    margin:0%
}

.hnavi{
    background-color:rgb(171 108 231);
    padding: 30px;
    border:5px solid black;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
#search{background-color: rgb(10, 9, 9);
    color: white;
outline: none; border-radius: 8px; padding: 8px;
}

.center {
    
}

ul.center li:not(:last-child){margin-right: 16px;
}

/* link color*/
.pro:visited{ color: black;}

.pro:hover {color:blueviolet}



.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
ul.navigation li{
    display:inline;
}

.auto {
    float: right;

}

.aut-reg{color: white;
    background: black;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;

}
.aut-reg:hover {
    background-color: rgb(56, 51, 51);
}


.description{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid blueviolet;
    box-shadow: 0px 5px 5px rgb(112, 44, 175);
}
.description:hover {
    box-shadow: 0px 7px 7px rgb(76, 25, 124);
}



.h1info{
    margin-top: 0;
    margin-left: 20px;

}

.text {
    width:70%;
    margin-left: 20px;
}

.videoinfo{
    margin-right: 20px;
}


.foot{ 
    background-color: black;
    color: beige;
    border: 5px solid rgb(171 108 231);
    padding: 15px;
    margin-top: 10%;
    

}


/*link color */
a:visited{color:rgb(217, 163, 248)}

a:hover {
    color: rgb(63, 14, 109);
}