
.home{
    display: grid;
    grid-template-areas: "h h h" "c c c" "f f f";
}

#head{
    grid-area: h;
}
.content{
    grid-area: c;
}
#footer{
    grid-area: f;
}

.header{
    background-color:rgb(171 108 231);
    padding: 30px;
    border:5px solid black;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
#search{background-color: rgb(10, 9, 9);
    color: white;
outline: none; border-radius: 8px; padding: 8px;
}


ul.center li:not(:last-child){margin-right: 16px;
}

/* link color*/
.pro:visited{ color: black;}

.pro:hover {color:blueviolet}



.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
ul.navigation li{
    display:inline;
}

.auto {
    float: right;
}

.aut-reg{color: white;
    background: black;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;

}
.aut-reg:hover {
    background-color: rgb(56, 51, 51);
}



#slider{
    position: relative;
}

.backgroundpoto {
    height: 45vh;
    overflow: hidden;
    border:3px solid black;
}

.backgroundpoto img{width: 100%;
    object-fit: cover;
    height: 100%;}
.us {
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 11px 20px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    border-radius: 42px;
}
/* button link*/
.butlink:visited{color:rgb(235, 157, 224) ;}
.butlink:hover{color:rgb(78, 15, 78)}


/*proucts*/

.productlist {

    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

.products {
    flex: 1;
    cursor: pointer;
    border: 1px solid violet;
    margin-right: 15px;
    box-shadow: 0px 5px 5px rgb(112, 44, 175);
    
}

.products:hover {
    box-shadow: 0px 7px 7px rgb(76, 25, 124);
}

.products:last-child {
    margin-right: 0;
}
.products img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.desc{
    padding: 20px;
}
.proinput{
    outline: none;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid rgb(37, 35, 35);
    margin-right: 10px;
}
.proinput:focus{
    border: 1.5px solid rgb(150, 48, 48);
}
.probtn{
    color: white;
    background: rgb(131, 55, 202);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    transition: .5s;
}
.probtn:hover{
    background-color: rgb(97, 35, 155);
}

/*footer*/

.foot{ 
    background-color: black;
    color: beige;
    border: 5px solid rgb(171 108 231);
    padding: 15px;

}

.list01{
    list-style-type: none;
}

/*link color */
a:visited{color:rgb(217, 163, 248)}

a:hover {
    color: rgb(63, 14, 109);
}


